[Unit]
Description=WorkerService

[Service]
ExecStart=java -jar /var/www/worker/target/worker-jar-with-dependencies.jar
Environment=REDIS_HOST={{ hostvars['redis'].ansible_host }}
Environment=POSTGRESQL_USER={{ db_username }}
Environment=POSTGRESQL_PASSWORD={{ db_password }}
Environment=POSTGRESQL_HOST={{ hostvars['postgresql'].ansible_host }}
Environment=POSTGRESQL_PORT={{ db_port }}
Environment=POSTGRESQL_DB={{ db_name }}
WorkingDirectory=/var/www/worker/target
Restart=always